@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(images/bg1.jpg);
	margin:0px;
}

.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:#FFF;
	margin-left:50px;
 }
#banner
{
	width:99.5%;
	height:100px;
	border:2px solid #FFF;
	background-color:rgba(0,0,0,0.7);
    text-align: center;	 	
}

#wrapper
{
	width:80%;
	border-radius:10px;
	border:2px solid #FFF;
	background-color:rgba(0,0,0,0.7);
}
.SubHead
{
	font-family:"Segoe UI";
	color:rgb(145, 219, 203) ;  /*FFF*/
	font-size:20px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:rgb(145, 219, 203);
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:rgb(219, 232, 233);
	border-radius:5px;
	padding:4px 6px;
	border:1px solid rgb(145, 219, 203);
	background-color:transparent;
}

.choices
{
	background-color: darkgray;
	color:black
}

.table
{
	border-radius:5px;
	padding:0px 5px;
	border:1px solid rgb(51, 255, 245);
	background-color:transparent;
}
a.link:link{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:hover{font-family:"Segoe UI";font-size:16px;color:#F6F;text-decoration:none;}
.msg
{
	font-family:"Segoe UI";
	color:  #6F6;
	font-size:16px;
}
a.Command:link{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 10px;border:2px solid rgb(0, 225, 255);border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 12px;border:2px solid rgb(0, 225, 255);border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 12px;border:2px solid rgb(0, 195, 255);border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 12px;border:2px solid rgb(4, 0, 255);border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}
